/*********
*  RESET *
*********/

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

/*********
* DEBUG *
*********/

.debug header .topmenu > div,
.debug main .section .row > div,
.debug main .section .rowbig > div{
    border: 2px dashed black;
}

.debug header .jumbotron .content{
    border: 2px dashed black;
    height: 415px;
}

.debug main .section .row{
    height: 520px;
}

.debug main .section .rowbig{
    height: 1000px;
}

.debug main .section .rowbig .colfull{
    height: 930px;
}
/*********
* COMMON *
*********/

.container{
    margin: 0 auto;
}

.container.medium{
    max-width: 950px;
}

.container.big{
    max-width: 1250px;
}

/*********
* HEADER *
*********/

/* HEADER TOP */

header{
border-bottom: 5px solid #add8e6;
}

header .topbar{
    background-color: #add8e6;
    padding: 20px;
}

header .topmenu{
    background-color: #daa520;
    display: flex;
}

header .topmenu > div{
    padding: 10px;
}

header .logotab,
header .logintab{
    width: 20%;
}

header .logotab{
    text-align: left;
}

header .logintab{
    text-align: right;
}

header .linktab{
    text-align: center;
}

header .linktab{
    width: 60%;
}

/* HEADER BOTTOM */

.jumbotron{
    background-color: #00008b;
    padding: 50px;
}

header .jumbotron .content{
    background-color: #ee82ee;
}

/*********
*  MAIN  *
*********/

main .section{
    padding: 50px;
}

main .section:nth-child(even){
    background-color: #d3d3d3;
} 

main .row{
    display: flex;
}

main .section .row .colbig{
    width: 60%;
    background-color: #1e90ff;
}

main .section .row .colsmall{
    width: 40%;
    background-color: #ffc0cb;
}

main .section .rowbig .colfull{
    background-color: #228b22;
}